{% extends "base.html" %}
{%  block explain_contents %}
<table border="1" width="300" bgcolor="#CCCCCC" height="150">
    <caption> 잉글랜드 프리미어리그 순위 (4.20 기준) </caption>
    <thead>
    <tr>
        <th>순위</th> <th>구단</th> <th>경기수</th> <th>승</th> <th>무</th> <th>패</th> <th>승점</th>
    </tr>
    </thead>
    <tr>
        <td>1</td> <td>아스날</td> <td>31</td> <td>23</td> <td>5</td> <td>3</td> <td>74</td>
    </tr>
    <tr>
        <td>2</td> <td>맨시티</td> <td>30</td> <td>22</td> <td>4</td> <td>4</td> <td>70</td>
    </tr>
    <tr>
        <td>3</td> <td>맨 유</td> <td>30</td> <td>18</td> <td>5</td> <td>7</td> <td>59</td>
    </tr>
    <tr>
        <td>4</td> <td>뉴캐슬</td> <td>30</td> <td>15</td> <td>11</td> <td>4</td> <td>56</td>
    </tr>
    <tr>
        <td>5</td> <td>토트넘</td> <td>31</td> <td>16</td> <td>5</td> <td>10</td> <td>53</td>
    </tr>
    <tr>
        <td>6</td> <td>A.빌라</td> <td>31</td> <td>15</td> <td>5</td> <td>11</td> <td>50</td>
    </tr>
    <tr>
        <td>7</td> <td>브라이튼</td> <td>29</td> <td>14</td> <td>7</td> <td>8</td> <td>49</td>
    </tr>
    <tr>
        <td>8</td> <td>리버풀</td> <td>30</td> <td>13</td> <td>8</td> <td>9</td> <td>47</td>
    </tr>
    <tr>
        <td>9</td> <td>브렌트포드</td> <td>31</td> <td>10</td> <td>13</td> <td>8</td> <td>43</td>
    </tr>
    <tr>
        <td>10</td> <td>풀럼</td> <td>30</td> <td>12</td> <td>6</td> <td>12</td> <td>42</td>
    </tr>
</table>
{% endblock explain_contents %}